<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class="row top-menu">
{#        <div class="col-md-6">#}
{#            <a href="{{url_for('hello_world')}}">#}
{#                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Item Catalog#}
{#            </a>#}
{#        </div>#}
        <div class="col-md-6 text-right">
                        {%if 'username' not in session %}
                <a href="{{url_for('showLogin')}}">Click Here to Login </a>
                {% else %}
                <a href="{{url_for('disconnect')}}">Logout </a>
                {% endif %}

        </div>
    </div>
<div class = 'pane'>
<h1>Categories</h1>

<a href="{{url_for('newCategory')}}" > <h3> Create a New Category </h3> </a>

{% for category in categories %}



<a href = "{{url_for('showInventory', category_id = category.id)}}"> <p>{{category.name}}</p></a>

<p><a href = "{{url_for('editCategory',category_id = category.id)}}">Edit Category</a></p>

<p> <a href = "{{url_for('deleteCategory',category_id = category.id)}}">Delete Category</a> </p>




{% endfor %}

</div>
</body>

</html>
